{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <div class = "article-content">
        <h5>Welcome to Aliados!

            We are a group of friends united by a common passion: the world of gaming and all things digital. Aliados is our online corner, a space dedicated to sharing and documenting our progress, adventures, and experiences in this electrifying universe.
            
            Our journey began as a shared pastime among friends, but over time, we realized that our stories, tips, and insights could be useful and enjoyable for other gaming and tech enthusiasts. Thus, Aliados was born - as a blog by friends, for friends.
            
            Here, you'll find a variety of posts, from in-depth game reviews to valuable tips for enhancing your skills, as well as passionate discussions about the latest trends in the digital entertainment industry. Our mission is to create a space where everyone feels welcome, whether they're newcomers or veterans in this world.
            
            We want Aliados to be more than just a blog; we want it to be a meeting point for the gaming and tech enthusiast community. We're excited to share our experiences and learn from you as well. Together, we'll explore, discover, and celebrate the incredible world of games and all things digital.
            
            So, feel free to explore our posts and become a part of this journey with us. We look forward to building a lasting digital friendship and, who knows, perhaps even playing some games together. Welcome to Aliados, the blog by friends, for friends!
            
            Enjoy exploring our digital world,
            
            Clay and the Aliados Team</h5>

    </div>
{%endblock content%}